{% extends "entries/layout.html" %}
{% load static %}

{% block body %}

    <div id="nav">
        <button id="form" class="menu">Form</button>
        <button id="list" class="menu">List</button>
    </div>

    <div id="form_page" class="pages">
        <!-- <form action="{% url 'add_api' %}" method="post">
            {% csrf_token %}
            <input id="form_name" name="entry" type="text" placeholder="Entry" autofocus>
            <input id="form_submit" type="submit">
        </form> -->
    </div>

    <div id="list_page" class="pages"></div>

{% endblock %}

{% block script %}
    <script src="{% static 'entries/index.js' %}"></script>
{% endblock %}